.header{
    margin-bottom: 20px;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);
}

.title-logo{
    /* height: 5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: double var(--white);

}

.title-logo p{
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 2rem;
    color: var(--white);
}

nav{
    margin-top: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    color: var(--white);
}
