*{
    margin: 0;
    padding: 0;
}

:root{
    --black: #1b1b1b;
    --white: #f5f5f5;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 16px;
    background-color: var(--white);
}

.responsive{
    width: 100vw;
}

/* main{
    display: flex;
    /* overflow-x: hidden; 
} */

#side-content{
    display: none;
    border-left: 1px solid var(--black);
}

.header-container{
    background-color: var(--black);
}

.header-container p{
    font-size: 1.5rem;
    font-family: "Protest Guerrilla", sans-serif;
    color: var(--white);
}

.popular-content{
    margin-bottom: 20px;
}

/* .latest-content{
    min-height: 45vh;
} */