*{
    margin: 0;
    padding: 0;
}

:root{
    --black: #1b1b1b;
    --white: #f5f5f5;
}

body {
    font-size: 16px;
    background-color: var(--white);
}

main{
    display: flex;
    /* overflow-x: hidden; */
}

#main-content{
    width: 100vw;
}

#side-content{
    display: none;
    border-left: 1px solid var(--black);
}

.header-container{
    background-color: var(--black);
}

.header-container p{
    font-size: 1.5rem;
    font-family: "Protest Guerrilla", sans-serif;
    color: var(--white);
}

.popular-content{
    margin-bottom: 20px;
    min-height: 60vh;
}

.latest-content{
    min-height: 45vh;
}

#opinion-article{
    min-height: 70vh;
}