@media screen and (min-width: 426px){
    .responsive{
        width: 100vw;
    }
    
    #latest-article article{
        width: 21rem;
    }

    #main-content{
        width: 80vw;
    }
    
    #side-content{
        display: flex;
        width: 20vw;
        flex-direction: column;
    }

    #latest-article article{
        width: 15.2rem;
    }
}