#popular-article, #latest-article, #opinion-article, #food-article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#popular-article article{
    width: 9rem;
    height: auto;
    margin: 0.5rem;
    padding: 1rem;
    align-content: center;
    border-bottom: double var(--black);
    border-right: solid var(--black);
}

#popular-article a, #latest-article a{
    text-decoration: none;
    font-family: "Cabin", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
}

#latest-article article{
    display: flex;
    width: 21rem;
    height: auto;
    margin: 0.5rem;
    padding: 1rem;
    align-content: center;
    border-bottom: double var(--black);
    border-right: solid var(--black);
}

.img-div, .text-div{
    margin:0.5rem;
}

#food-article article{
    border-bottom: 1px solid var(--black);
}

#food-article a{
    text-decoration: none;
    font-family: "Cabin", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
}

#food-article article .img-div img{
    width: 100px;
}

#opinion-article article .img-div img{
    width: 100px;
}