.header{
    margin-bottom: 20px;
}

.title-logo{
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.title-logo p{
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 2rem;
    color: var(--white);
}